a{
	text-decoration:none;
	font-size:14px;
	color:#6E6E6E;
}

#navigation
{
    display: flex;
		align-items: center;
    justify-content: flex-end;
		font-family: Arial;
		font-size:20px;
		color:#222;
}	

.gmail{
	margin-right:20px;
	margin-top:-3px;
}

.images{
	margin-right:20px;
	margin-top:-3px;
}

.compte{
margin-right:20px;
}

#app{
height:30px;
width:30px;
margin-top:8px;
margin-right:20px;
}

#compte-logo{
height:32px;
width:32px;
border-radius:20px;
margin-top:8px
}

.google-apps:{
max-width: 100%;
margin:auto;
}



.google-logo{
margin-top:150px;
}


.google-logo
{
    display: flex;
    justify-content: center;
		font-family: Arial;
		margin-bottom:20px;
}

.searchbar
{
  display:flex;
  justify-content: center;
	margin-top:10px;
	position:relative;

}
 #search 
{ 
  height: 30px;
  width: 600px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin-top: 10px;
	margin-bottom:10px;
	background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
}

.buttons
{
  display: flex;
  justify-content: center;
 	font-family: Arial;
  margin-top: 20px;
}

#search-google
{
	margin-right: 15px;
	background-color:#F2F2F2;
	border:none;
	color:black;
	font-size:15px;
	border-radius: 5px;
  padding: 14px 40px;
  transition-duration: 0.4s;
}

#search-google:hover {
box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 2px 2px 0 rgba(0,0,0,0.19);
}

#lucky-google
{
	margin-right: 15px;
	background-color:#F2F2F2;
	border:none;
	color:black;
	font-size:15px;
  border-radius: 5px;
  padding: 14px 40px;
  transition-duration: 0.4s;
}

#lucky-google:hover {
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 2px 2px 0 rgba(0,0,0,0.19);
}


#footer
{
align-items: center;
color:#6E6E6E;
background: #F2F2F2;
}


#footer-language
{
	font-family: Arial;
	font-size:14px;	
	align-items: center;
  color:#6E6E6E;
  background: #F2F2F2;
	margin-bottom: -30px;	
}

#footer-left
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
		font-family: Arial;
		font-size:14px;
    color:#6E6E6E;
  	background: #F2F2F2;
		margin-top:10px;
}

p{
	margin-left:10px;
	margin-top:280px;
	border-bottom: 1px solid #dadce0;
	padding: 10px 8px;
}

#footer-middle
{
    display: flex;
    flex-direction: row;
    justify-content: center;
		font-family: Arial;
		font-size:14px;
    color:#6E6E6E;
  	background: #F2F2F2;
		margin:50 50px;
		margin-top: -18px;
}

#footer-right
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
		font-family: Arial;
		font-size:14px;
    color:#6E6E6E;
  	background: #F2F2F2;
		margin-top: -15px;
}

.a-propos{
	margin-right:10px;
	margin-left:17px;
}

.publicité{
	margin-right:10px;
}

.entreprise{
	margin-right:10px;
}

.fonctionnement-google{
	margin-right:10px;
}

.info-conso{
margin-right:10px;	
}

.confidentialite{
margin-right:10px;	
}

.Conditions{
margin-right:10px;	
}

.Paramètres{
margin-right:10px;	
}

#ecologie{
	height:15px;
	width:15px;
}